<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Контакты</h1>
    <hr>

    <ul>
        <li>
            <a href="/">Главная</a>
        </li>
        <li>
            <a href="/contacts">контакты</a>
        </li>
        <li>
            <a href="/results">результаты</a>
        </li>
        <li>
            <a href="/run">run</a>
        </li>
    </ul>
    <p>
        телефон +229800123
    <br>
        Разработчик: {{name}}
    <br>
        Дата создания: {{creation_date}}
    </p>
</body>
</html>