<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <title>Главная страница</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <h1>Привет мир</h1>
    <hr>
    <ul>
        <li><a href="/">Главная</a></li>
        <li><a href="/contacts">Контакты</a></li>
        <li><a href="/results">Результаты</a></li>
        <li><a href="/run">Run</a></li>
    </ul>
    <p>Это первая страница на Flask</p>
    <p class="alert">Это предупреждение</p>
</body>
</html>
