<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>
    <h1>Привет мир</h1>
    <hr>
    <ul>
        <li>
            <a href="/">Главная</a>
        </li>
        <li>
            <a href="/contacts">контакты</a>
        </li>
        <li>
            <a href="/results">результаты</a>
        </li>
        <li>
            <a href="/run">run</a>
        </li>
    </ul>
    <p>
        Это первая страница на Flask
    </p>
    <p class="alert">Это предупреждение</p>
</body>
</html>