<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>run</title>
</head>
<body>
    <h1>run</h1>
    <hr>
    <ul>
        <li>
            <a href="/">Главная</a>
        </li>
        <li>
            <a href="/contacts">контакты</a>
        </li>
        <li>
            <a href="/results">результаты</a>
        </li>
        <li>
            <a href="/run">run</a>
        </li>
    </ul>
runrunrun
    <form method="post">
        <input type="text" name="input_text">
        <button type="submit">Отправить</button>
    </form>
    <ul>
            {% for item in text_list%}
            <li>
                {{item}}
            </li>
            {% endfor %}
    </ul>
</body>
</html>