<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>run</title>
</head>
<body>
    <h1>run</h1>
    <hr>
    <ul>
        <li><a href="/">Главная</a></li>
        <li><a href="/contacts">Контакты</a></li>
        <li><a href="/results">Результаты</a></li>
        <li><a href="/run">Run</a></li>
    </ul>
    <p>runrunrun</p>
    <form method="post">
        <input type="text" name="input_text" required>
        <button type="submit">Отправить</button>
    </form>
    <ul>
        {% for item in text_list %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
</body>
</html>
